# <center>Artificial Intelligence</center>  <center>Fall 2023</center>
## Lab 01
#### Name:saleem  Malik
#### Roll number: 2021-CS-32

Take weight in kgs and convert it into pounds. 1 pound = 1 kg 2.2046 **(2 marks)**

In [2]:
## add code here
a = input('Enter  Weight')
result = int(a)*2.2046
print(result)

Enter  Weight 10

22.046

Calculate the cost of all the items in a shopping cart. **(2 marks)**

In [16]:
prices =[20,50,80,10,56,89]
## add code here
sum = 0 
for i in prices:
    sum  = sum + i
print(sum)

305

Write a function that returns the maximum of two numbers. **(2 marks)**

In [17]:
## add code here
def max_(a, b):
    return max(a,b)
max_(10,15)

15

Write a function called **deepmind** that takes a number  **(4 marks)**
* If the number is divisible by 3, it should return deep.
* If it is divisible by 5, it should return mind.
* If it is divisible by both 3 and 5, it should return deepmind.
* Otherwise, it should return the same number.

In [1]:
def deepmind(number):
    if number % 3 == 0 and number % 5 == 0:
        return 'deepmind'
    elif number % 3 == 0:
        return 'deep'
    elif number % 5 == 0:
        return 'mind'
    else:
        return number

print(deepmind(9))

deep

**listA** =  [1,2,3,4,5,6,7,8,9,10]  

If an element of **listA** is smaller than 5, replace it with 0. And if an element of x is bigger than 5, replace it with 1. (**2 marks**)

In [8]:
## add code here
listA = [1,2,3,4,5,6,7,8,9,10]
for i in range(0, len(listA)):
    if(listA[i]<5):
        listA[i] = 0
    elif(listA[i]>5):
        listA[i] = 1
        
print(listA)

[0, 0, 0, 0, 5, 1, 1, 1, 1, 1]

Compute the square of **listA** elements in one line. (**2 marks**)

In [15]:
listA = [1,2,3,4,5,6,7,8,9,10]
## add code here
listA_ = [ i ** 2 for i in listA]
print(listA_)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Concatenate b1 and b2. (**2 marks**)

In [20]:
b1 = ['Hello', 'in','first']
b2 = ['Students','the','recitation']
## add code here
data = b1 + b2
print(data)

['Hello', 'in', 'first', 'Students', 'the', 'recitation']

Create a dictionary of student **Ali** where the keys are courses and values are total and obtaining marks in each course. Print the dictionary items subjects wise **(2 marks)**

In [25]:
# Create a dictionary for student Ali
ali_grades = {
    'Math': {'Total Marks': 100, 'Obtained Marks': 90},
    'Science': {'Total Marks': 100, 'Obtained Marks': 85},
    'History': {'Total Marks': 100, 'Obtained Marks': 78},
    'English': {'Total Marks': 100, 'Obtained Marks': 92}
}

# Print the dictionary items subject-wise
for subject, grades in ali_grades.items():
    print(f"Subject: {subject}")
    print(f"Total Marks: {grades['Total Marks']}")
    print(f"Obtained Marks: {grades['Obtained Marks']}")
    print()

Subject: Math
Total Marks: 100
Obtained Marks: 90

Subject: Science
Total Marks: 100
Obtained Marks: 85

Subject: History
Total Marks: 100
Obtained Marks: 78

Subject: English
Total Marks: 100
Obtained Marks: 92

Create a class 'calculator' with the following functions to compute i) addition, ii) subtraction, iii)multiplication, iv)division and v)square
between two numbers. **(2 marks)**

In [29]:
## add code here
class Calculator:
    def add(self, num1, num2):
        return num1 + num2

    def subtract(self, num1, num2):
        return num1 - num2

    def multiply(self, num1, num2):
        return num1 * num2

    def divide(self, num1, num2):
        if num2 == 0:
            return "Error: Division by zero"
        return num1 / num2

    def square(self, num):
        return num ** 2

obj = Calculator()
print(obj.add(1,1))
print(obj.subtract(1,1))
print(obj.multiply(1,1))
print(obj.divide(1,1))
print(obj.square(2))

2
0
1
1.0
4